section
  @media (min-width: 767px)
    margin-top: 90px

  &#idea-section
    .idea
      margin-bottom: 20px

  &#add-section
    .add-submit
      margin-top: 20px


.error-message
  color: #a94442


.liked
  color: orange !important