{% extends 'base.html' %}

{% load staticfiles %}

{% block body-class %}
    class="index"
{% endblock %}

{% block content %}
    {#    <nav>#}
    {#        <ul>#}
    {#            <li><a href="#">Home</a></li>#}
    {#            <li><a href="#">Shop</a></li>#}
    {#            <li><a href="#">About</a></li>#}
    {#            <li><a href="#">Stuff</a></li>#}
    {#        </ul>#}
    {#        </nav>#}
    <header>
        <div>
            <h1>Get back at your mates: Request a troll and we'll make it happen!</h1>
            <a href="#request" class="button">Troll now</a>
            <h3>Or <a href="{% url "troll:vote" %}">browse existing trolls</a> for on-demand mayhem.</h3>
        </div>
    </header>

    <section id="idea-section">
        <div class="container">
            <div class="row">
                <div class="container-fluid text-center">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div{% if 'success' in message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <p class="error-message">{{ message }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <section id="recommended" class="container">
                    <h1>Some great trolls for your trolley.</h1>

                    <div class="col-sm-4">
                        <div class="idea container-fluid text-center">

                            <div id="idea-image">
                                <img src="../static/img/img1.jpg">
                            </div>
                            <h2>Back of Dicks</h2>
                            <p>This bag of gummy penises is a great way to tell someone to'EAT A BAG OF DICKS'. Sent
                                anonymously with a stock message, this product will get your point across in a way that
                                nobody will mistake. </p>
                            <a href="http://dicksbymail.com/" class="button">Yummy</a>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="idea container-fluid text-center">

                            <div id="idea-image">
                                <img src="../static/img/img2.jpg">
                            </div>
                            <h2>Glitter Bomb</h2>
                            <p>Prank your Friends and Enemies for only $9.99? Let us send them some stupid glitter that
                                is guaranteed to go everywhere. 100% Anonymous.</p>
                            <a href="https://shipyourenemiesglitter.com/" class="button">Ruthless</a>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="idea container-fluid text-center">

                            <div id="idea-image">
                                <img src="{% static 'img/petfacts.png' %}">
                            </div>
                            <h2>Fact as a Service</h2>
                            <p>We have nothing better to do than spamming people with quotes from Trump or Kanye
                                text</p>
                            <a href="http://www.pet-facts.co/" class="button">Check it out</a>

                        </div>
                    </div>
                </section>
    </section>

    <section id="shop">
        {% for idea, already_liked in ideas_tuple %}
            <div class="col-sm-4">
                <div class="idea container-fluid text-center">

                    <div id="idea-image">

                    </div>
                    <h2>
                        {{ idea.name }}

                        <a id="like-btn-{{ idea.id }}" href="#"
                           class="like-btn {% if already_liked %}liked{% endif %}">
                                    <span id="like-btn-{{ idea.id }}-span"
                                          class="glyphicon glyphicon-thumbs-up">{{ idea.likes }}</span>

                        </a>
                    </h2>
                    <p>{{ idea.description }}</p>
                </div>
            </div>

        {% endfor %}
    </section>

    <section id="request" class="container-fluid text-center">
        <h3>Request some mischief for our minions to make.</h3>
        <a href="{% url 'troll:add' %}" class="button">Request</a>
    </section>

    <form id="like-form" action="{% url 'troll:index' %}" method="POST">
        {% csrf_token %}
        {{ likeform.idea_id }}
    </form>

    <footer>
        <h3>Happy trolling.</h3>
    </footer>

    <script type="text/javascript">
        $('.like-btn').click(function (e) {
            e.preventDefault();
            var idea_id = this.id.substring(9);

            //assign idea_id using like-btn id
            var idea_id_dom = $('#{{ likeform.idea_id.id_for_label }}');
            idea_id_dom.val(idea_id);

            //toggle like button class
            var span_dom = $('#' + this.id + '-span');
            if (this.classList.contains('liked')) {
                span_dom.text(parseInt(span_dom.text()) - 1);
            } else {
                span_dom.text(parseInt(span_dom.text()) + 1);
            }
            $(this).toggleClass('liked');

            //ajax post
            var form = $('#like-form');
            $.post(form.attr('action'), form.serialize(), function () {

            })

        })
    </script>

{% endblock %}